<!--SECTION DE IMAGENES-->
<section>
  <div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active" data-bs-interval="10000">
        <img src="https://cdn.shopify.com/s/files/1/0105/9484/4730/t/33/assets/slide_dpv_2.png?v=78938306968102779271673286719" class="d-block w-100" alt="...">

      </div>
      <div class="carousel-item" data-bs-interval="2000">
        <img src="https://cdn.shopify.com/s/files/1/0105/9484/4730/t/33/assets/slide_dpv_3.png?v=57739644402576055731671655511" class="d-block w-100" alt="...">

      </div>
      <div class="carousel-item">
        <img src="https://cdn.shopify.com/s/files/1/0105/9484/4730/t/33/assets/slide_dpv_1.png?v=37065066029445903721669219856" class="d-block w-100" alt="...">

      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</section>

<!--section morada-->
<div class=" container text-center">
  <div class="row align-items-start">
    <div class="col">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-truck" viewBox="0 0 16 16">
        <path d="M0 3.5A1.5 1.5 0 0 1 1.5 2h9A1.5 1.5 0 0 1 12 3.5V5h1.02a1.5 1.5 0 0 1 1.17.563l1.481 1.85a1.5 1.5 0 0 1 .329.938V10.5a1.5 1.5 0 0 1-1.5 1.5H14a2 2 0 1 1-4 0H5a2 2 0 1 1-3.998-.085A1.5 1.5 0 0 1 0 10.5v-7zm1.294 7.456A1.999 1.999 0 0 1 4.732 11h5.536a2.01 2.01 0 0 1 .732-.732V3.5a.5.5 0 0 0-.5-.5h-9a.5.5 0 0 0-.5.5v7a.5.5 0 0 0 .294.456zM12 10a2 2 0 0 1 1.732 1h.768a.5.5 0 0 0 .5-.5V8.35a.5.5 0 0 0-.11-.312l-1.48-1.85A.5.5 0 0 0 13.02 6H12v4zm-9 1a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm9 0a1 1 0 1 0 0 2 1 1 0 0 0 0-2z"/>
      </svg>
      Envío Gratis en CDMX
      Compras +$500* Consulta métodos de entrega
    </div>
    <div class="col">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-shop-window" viewBox="0 0 16 16">
        <path d="M2.97 1.35A1 1 0 0 1 3.73 1h8.54a1 1 0 0 1 .76.35l2.609 3.044A1.5 1.5 0 0 1 16 5.37v.255a2.375 2.375 0 0 1-4.25 1.458A2.371 2.371 0 0 1 9.875 8 2.37 2.37 0 0 1 8 7.083 2.37 2.37 0 0 1 6.125 8a2.37 2.37 0 0 1-1.875-.917A2.375 2.375 0 0 1 0 5.625V5.37a1.5 1.5 0 0 1 .361-.976l2.61-3.045zm1.78 4.275a1.375 1.375 0 0 0 2.75 0 .5.5 0 0 1 1 0 1.375 1.375 0 0 0 2.75 0 .5.5 0 0 1 1 0 1.375 1.375 0 1 0 2.75 0V5.37a.5.5 0 0 0-.12-.325L12.27 2H3.73L1.12 5.045A.5.5 0 0 0 1 5.37v.255a1.375 1.375 0 0 0 2.75 0 .5.5 0 0 1 1 0zM1.5 8.5A.5.5 0 0 1 2 9v6h12V9a.5.5 0 0 1 1 0v6h.5a.5.5 0 0 1 0 1H.5a.5.5 0 0 1 0-1H1V9a.5.5 0 0 1 .5-.5zm2 .5a.5.5 0 0 1 .5.5V13h8V9.5a.5.5 0 0 1 1 0V13a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V9.5a.5.5 0 0 1 .5-.5z"/>
      </svg>
      Vende sin stock
      Enviamos el pedido a tu cliente
    </div>
    <div class="col">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-tag-fill" viewBox="0 0 16 16">
        <path d="M2 1a1 1 0 0 0-1 1v4.586a1 1 0 0 0 .293.707l7 7a1 1 0 0 0 1.414 0l4.586-4.586a1 1 0 0 0 0-1.414l-7-7A1 1 0 0 0 6.586 1H2zm4 3.5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z"/>
      </svg>
      Pagamos tus promos
      Ofrece descuentos gratis
    </div>
    <div class="col">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-emoji-smile" viewBox="0 0 16 16">
        <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
        <path d="M4.285 9.567a.5.5 0 0 1 .683.183A3.498 3.498 0 0 0 8 11.5a3.498 3.498 0 0 0 3.032-1.75.5.5 0 1 1 .866.5A4.498 4.498 0 0 1 8 12.5a4.498 4.498 0 0 1-3.898-2.25.5.5 0 0 1 .183-.683zM7 6.5C7 7.328 6.552 8 6 8s-1-.672-1-1.5S5.448 5 6 5s1 .672 1 1.5zm4 0c0 .828-.448 1.5-1 1.5s-1-.672-1-1.5S9.448 5 10 5s1 .672 1 1.5z"/>
      </svg>
      Hasta 71% de retorno
      Sobre lo que inviertes
    </div>
  </div>
<!--productos-->
  <section>
    <br>
    <h1 text-align-center>Nuestros nuevos lanzamientos</h1>
    <br>
    <div class="card-group">
      <div class="card">
        <img src="https://cdn.shopify.com/s/files/1/0105/9484/4730/products/DENTALSTIXX-CATNIP_1_1800x1800.jpg?v=1671217466" class="card-img-top" alt="...">
        <div class="card-body">
          <h6 class="card-title">Premios Para Gatos Dental Stixx Emerald Pet Sin Granos, Sabor Catnip y Calabaza 3.6 oz.t</h6>
          <p class="card-text"><a href="https://www.petmarkt.com.mx/collections/vendors?q=Emerald%20Pet">Emerald Pet</a><br>
          $209.00 <br>Precio publico</p>
        </div>
        <div class="card-footer">
          <small class="text-muted">vista previa</small>
        </div>
      </div>
      <div class="card">
        <img src="https://cdn.shopify.com/s/files/1/0105/9484/4730/products/Front_Mani_1800x1800.png?v=1670972685" class="card-img-top" alt="...">
        <div class="card-body">
          <h6 class="card-title">Premios para perros ideales para entrenamiento Zukulentos Un Dos Treats, sabor Mantequilla de Maní, para perros de todas las razas, tamaños y edades. 155 gramos</h6>
          <p class="card-text">Por <a href="https://www.petmarkt.com.mx/collections/vendors?q=Un%20Dos%20Treats"> Un Dos Treats</a><br>
            $ 160.00 <br>
            Precio Público
          </p>
        </div>
        <div class="card-footer">
          <small class="text-muted">vista previa</small>
        </div>
      </div>
      <div class="card">
        <img src="https://cdn.shopify.com/s/files/1/0105/9484/4730/products/Front_Salmon_1800x1800.png?v=1670972296" class="card-img-top" alt="...">
        <div class="card-body">
          <h6 class="card-title">Premios para perros ideales para entrenamiento Zukulentos Un Dos Treats, sabor Salmón Salvaje, para perros de todas las razas, tamaños y edades. 155 gramos</h6>
          <p class="card-text">Por <a href="https://www.petmarkt.com.mx/collections/vendors?q=Un%20Dos%20Treats"> Un Dos Treats</a><br>
            $ 160.00 <br>
            Precio Público
          </p>
          <div class="card-footer">
            <small class="text-muted">vista previa</small>
          </div>
        </div>

      </div>
      <div class="card">
        <img src="https://cdn.shopify.com/s/files/1/0105/9484/4730/products/Frente_Pollo_1800x1800.png?v=1670971804" class="card-img-top" alt="...">
        <div class="card-body">
          <h6 class="card-title">Premios para perros ideales para entrenamiento Zukulentos Un Dos Treats, sabor Pollo Asado, para perros de todas las razas, tamaños y edades. 155 gramos</h6>
          <p class="card-text">Por <a href="https://www.petmarkt.com.mx/collections/vendors?q=Un%20Dos%20Treats"> Un Dos Treats</a><br>
            $ 160.00 <br>
            Precio Público
          </p>
          <div class="card-footer">
            <small class="text-muted">vista previa</small>
          </div>
        </div>

      </div>
      <div class="card">
        <img src="https://cdn.shopify.com/s/files/1/0105/9484/4730/products/Front_Pork_1800x1800.png?v=1670970995" class="card-img-top" alt="...">
        <div class="card-body">
          <h6 class="card-title">Premios para perros ideales para entrenamiento Zukulentos Un Dos Teats, sabor Cerdo Ahumado, para perros de todas las razas, tamaños y edades. 155 gramosCard title</h6>
          <p class="card-text">Por <a href="https://www.petmarkt.com.mx/collections/vendors?q=Un%20Dos%20Treats"> Un Dos Treats</a><br>
            $ 160.00 <br>
            Precio Público
          </p>
        </div>
        <div class="card-footer">
          <small class="text-muted">vista previa</small>
        </div>
      </div>
    </div>

    <br>
    <h1 text-align-center>DIETAS DE PRESCRIPCIÓN VETERINARIA</h1>
    <br>
    <div class="card-group">
      <div class="card">
        <img src="https://cdn.shopify.com/s/files/1/0105/9484/4730/products/1_Front_f01dd5d4-3198-47dc-be23-9f83cc1783b6_1800x1800.jpg?v=1654881483" class="card-img-top" alt="...">
        <div class="card-body">
          <h6 class="card-title">Advance Prescripción Atopic Mini 1.5 kg.</h6>
          <p class="card-text">Por <a href="https://www.petmarkt.com.mx/collections/vendors?q=Advance">Advance</a><br>
            $ 460.00 <br>
            Precio Público</p>
        </div>
        <div class="card-footer">
          <small class="text-muted">Vista previa</small>
        </div>
      </div>
      <div class="card">
        <img src="https://cdn.shopify.com/s/files/1/0105/9484/4730/products/1_Front_a366f15e-c2cf-4978-9a67-a6c4985ba102_1800x1800.jpg?v=1654880626" class="card-img-top" alt="...">
        <div class="card-body">
          <h6 class="card-title">Advance Prescripción Atopic Medium / Maxi</h6>
          <p class="card-text">Por <a href="https://www.petmarkt.com.mx/collections/vendors?q=Advance">Advance</a><br>
            $ 830.00 <br>
            Precio Público
        </div>
        <div class="card-footer">
          <small class="text-muted">Vista previa</small>
        </div>
      </div>
      <div class="card">
        <img src="https://cdn.shopify.com/s/files/1/0105/9484/4730/products/1_Front_86c2deb4-0733-4b25-a664-adeadc50bb42_1800x1800.jpg?v=1654879039" class="card-img-top" alt="...">
        <div class="card-body">
          <h6 class="card-title">Advance Prescripción Hypoallergenic</h6>
          <p class="card-text">Por <a href="https://www.petmarkt.com.mx/collections/vendors?q=Advance">Advance</a><br>
            $ 775.00<br>
            Precio Público
        </div>
        <div class="card-footer">
          <small class="text-muted">Vista previa</small>
        </div>
      </div>
      <div class="card">
        <img src="https://cdn.shopify.com/s/files/1/0105/9484/4730/products/1_Front_4bb02cd8-1af6-4df7-89a7-1bf5c4683a8d_1800x1800.jpg?v=1654878294" class="card-img-top" alt="...">
        <div class="card-body">
          <h6 class="card-title">
            Advance Sensitive Medium/Maxi de Salmón</h6>
            <p class="card-text">Por <a href="https://www.petmarkt.com.mx/collections/vendors?q=Advance">Advance</a><br>
              $ 715.00<br>
              Precio Público
        </div>
        <div class="card-footer">
          <small class="text-muted">Last updated 3 mins ago</small>
        </div>
      </div>
      <div class="card">
        <br>
        <p>DIETAS <br>
        DE PREINCRIPCION <br> VETERIANARIA</p>
        <img src="https://irp.cdn-website.com/4ee278d3/DESKTOP/png/419.png" class="card-img-top" alt="...">

      </div>
    </div>
    </section>
